.img-wrapper{
    display: flex;
    margin: 15px;
    flex-wrap: wrap;
}
.img{
    width: 90%;
}

.each-img {
    margin: 20px;
    cursor: pointer;
    width: 10%;
}

.category-wrapper {
    margin: 20px;
}

h1.category-title {
    font-size: 24px;
}

.additems{
    text-align: right;
}
.items{
    padding: 5px;
    background: #a98fc7;
    border-radius: 5px;
    color: #FFF;
    outline: none;
    border: none;
    cursor: pointer;
}
