.category-products-wrapper {
  display: flex;

  .category-wrapper {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
      }

    .menu-wrapper {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 5px;

      .menu-img-wrapper {
        background-color:  rgb(212, 195, 219);
        border-radius: 50px;
        padding: 5px;

        .menu-img {
          width: 35px;
          height: 35px;
        }               
      }

      .menu-label-wrapper {
        background: transparent;

        .menu-label {
          padding: 10px;
        }
      }
    }
  }

  .products-wrapper {
    position: relative;
    left: 22%;
    background-color: antiquewhite;
    top: 0;
    width: 78%;
  }
}
